.header{
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 51px 70px;
  margin: 10px;
  font-size:larger;
  font-weight: bolder;

}