.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.card{
  width: 300px;
  border: 2px solid rgb(248, 2, 2);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #090909;
  color: white;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}


.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}