*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body{
    height: 100%;
    width:100%;
    background-color: black;
}
h1{
    position: absolute;
    top: 50%;
    left:50%;   
    transform: translate(-50%, -50%);
    font-size: 100px    ;
    text-decoration: underline  ;
    color: greenyellow;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: aqua;
}
.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}
.btn button{
     position: absolute;
    top: 70%;
    left:40%;   
   
    font-size: 80px    ;
    text-decoration: underline  ;
    color: greenyellow;
    background-color: black;

}