
h1{
    background-color: grey;
    width: fit-content;
    font-size: 100px;
    padding: 10px 70px;
    border-radius: 5px;
    margin: 10px;

}
button{
    padding: 10px 20px;
    margin: 10px;
    background-color: grey;
}